$primary: #292939;
$secondary: #fff;
$active: #ed6767;
$alt: #793f5c;

.company-profile {
  background: $secondary;
  margin: 3rem 4rem;
  padding: 2rem;
  h1 { 
    text-align: center; 
    font-size: 2.8em;
  }
  .row p {
    font-size: 1.2em;
    margin: 0;
  }
  .row p:nth-child(2) {
    padding-right: 0.6em;
    border-right: 1px solid $primary;
  }
}